:root {
  --primery-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
  font-family: "Roboto";
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============HEADER=================== */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 0.81;
  letter-spacing: 0.03em;
}

.logo-item {
  color: var(--accent-color);
}

.header-list .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
}

.contact-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-list:hover,
.contact-list:focus {
  color: var(--accent-color);
}

/* --------------------- HERO ---------------------- */

.hero {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.73;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* -----------------------PREFERENCES------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.preferences-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}

.preferences-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
}
/* =========================PROFESSIONAL======================== */

.professional-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/* ------------------------- TEAM ----------------------------- */
