:root {
  --primery-text-color: #757575;
  --tittle-text-color: ;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-item {
  color: var(--accent-color);
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.hero {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
